.profile__username {
  max-width: 450px;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  font-size: 42px;
  line-height: 1.142;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-column-start: 1;
  grid-row-start: 1;
}

@media (max-width: 1200px) {
  .profile__username {
    max-width: 400px;
    font-size: 38px;
  }
}

@media (max-width: 465px) {
  .profile__username {
    max-width: 280px;
    font-size: 27px;
    line-height: 1.2104;
  }
}