.popup__button {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  min-height: 50px;
  background-color: #000;
  border-radius: 2px;
}

.popup__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 550px) {
  .popup__button {
    min-height: 46px;
  }
}
