.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 282px;
  max-width: 880px;
}

@media (max-width: 465px) {
  .content {
    padding: 0 19px;
  }
}