.profile__aboutuser {
  max-width: 500px;
  margin: 0;
  padding-top: 9px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.21;
  grid-column-start: 1;
  grid-row-start: 2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
} 

@media (max-width: 1250px) {
  .profile__aboutuser {
    max-width: 400px;
    font-size: 16px;
  }
}

@media (max-width: 465px) {
  .profile__aboutuser {
    max-width: 250px;
    padding-top: 7px;
    font-size: 14px;
  }
}