.elements {
  padding-bottom: 67px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 22%));
  grid-column-gap: 17px;
  grid-row-gap: 20px;
  align-items: stretch;
  justify-content: center;
}

@media (max-width: 465px) {
  .elements {
    padding-bottom: 52px;
  }
}

@media (max-width: 319px) {
  .elements {
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
  }
}