.popup__save-button {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  min-height: 50px;
  background-color: #000;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222;
}

.popup__save-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 550px) {
  .popup__save-button {
    min-height: 46px;
  }
}

@media (max-width: 550px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 1.2143;
  }
}