.profile__info {
  padding-left: 30px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 19px;
  grid-template-rows: repeat(2, max-content);
  justify-items: start;
}