.element__trash {
  border: none;
  min-width: 18px;
  min-height: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 0;
  background-color: initial;
  background-image: url(../../../images/element__trash.svg);
}

.element__trash:hover {
  cursor: pointer;
  opacity: 0.6;
}