.profile__editbutton {
  border: 0;
  padding: 0 0 2px 0;
  background-color: #000;
  align-self: end;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: flex-end;
  transform: translate(43px);
}

.profile__editbutton:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 465px) {
  .profile__editbutton {
    transform: translate(28px);
  }
}